:root {
    --coolor1: #3FBFDA;
    --coolor2: #E55246;
    --coolor3: #11333A;
    --coolor4: #F0F0F0;
}
*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:not(i) {
    font-family: 'Rubik', sans-serif;
}
#main-box {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}
#headerpage {
    font-weight: 500px;
    font-size: 2.5em;
    padding: 3em 3em 1em 3em;
}
.nav-box, body {
    background-color: var(--coolor4);
}
.nav-box {
    width: 30vw;
}
i {
    color: var(--coolor2);
}
.nav-link {
    text-decoration: none;
    color: black;
    position: relative;
    left: 1em;
}
.nav-link:hover {
    color: var(--coolor2);
}
#navbar-user {
    display: flex;
    flex-direction: column;
}
#navbar-user > div {
    padding: 1em;
}
.body-box {
    background-color: white;
    /*border: 2px solid black;*/
    padding: 1em;
    width: 65vw;
    height: fit-content;
}
.body-detail{
    padding-top: 3%;
}
.profile-value {
    font-weight: 300;
    padding: 0 0 2em 10em;
}
.profile-trait {
    float: left;
    clear: left;
}
hr {
    width: 90%;
    margin: 20px auto;
}
#button-container {
    width: 180px;
    background-color: var(--coolor2);
    margin-top: 10px;
    padding: 10px 15px;
    text-align: center;
}
#button-container:hover {
    opacity: 0.8;
}
#edit {
    cursor: pointer;
    text-decoration: none;
    color: black;
}
#edit:visited {
    color: black;
}
@media (max-width: 750px) {
    .nav-link {
        position: relative;
        left: 0;
    }
}
@media (max-width: 650px) {
    .body-box {
        height: 80vh;
    }
}
@media (max-width: 580px) {
    #headerpage {
        font-weight: 500px;
        font-size: 2em;
        padding: 1em;
    }
    #main-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;
    }
    .nav-box{
        width: 70vw;
    }
    .body-box{
        width: 80%;
    }
    #navbar-user {
        display: flex;
        justify-content: space-around;
    }
    .body-box {
        height: 80vh;
    }
}
