:root {
    --coolor1: #3FBFDA;
    --coolor2: #E55246;
    --coolor3: #11333A;
}
*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Rubik', sans-serif;
}
#main-container {
    display: flex;
    /*padding: 20px 20px 20px 10px;*/
}
.icon-container {
    text-align: center;
}
.icon-container > img {
    width: 250px;
    padding: 20px 0;
    border-radius: 50%;
}
input[type=text], input[type=email], input[type=password] {
    display: inline-block;
    width: 100%;
    padding: 10px 10px;
    margin: 5px 0;
}
button {
    border: none;
    width: 50%;
    padding: 10px 0;
}
button:hover {
    background-color: var(--coolor1);
    color: white;
}
.center-button {
    text-align: center;
}
/*#signupbot {
    text-decoration: none;
    color: white;
    padding: 20px;
    background-color: var(--coolor3);
}*/
.option, .login-proper {
    padding: 10px;
}
.option {
    text-align: center;
}
/*#signup {
    float: right;
}
.first-container, .second-container {
    border: 2px solid red;
}*/
.first-container {
    width: 70%;
    padding: 20px 20px 20px 10px;
    /*height: 100vh;*/
    /*border: 2px solid red;*/
}
.second-container {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 100vh;
    background: linear-gradient(45deg, 
    #106142 0%,
    #87C9A6 49%,
    #00D4FF 100%
    );
}
@media (max-width: 900px) {
    .icon-container > img {
        width: 180px;
        padding: 20px 0;
        border-radius: 50%;
    }
    .first-container {
        width: 50%;
    }
    .second-container {
        width: 50%;
    }
}
@media (max-width: 660px) {
    #main-container {
        flex-direction: column;
    }
    .option {
        padding-bottom: 20px;
    }
    .first-container, .second-container {
        width: 100%;
    }
    /*.first-container {
        height: 70vh;
    }*/
    .second-container {
        height: 35vh;
    }
}
