:root {
    --coolor1: #3FBFDA;
    --coolor2: #fc8e33;
    --coolor3: #11333A;
    --coolor4: #F0F0F0;
    --coolor5: #91E7BB;
}
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:not(i) {
    font-family: 'Rubik', sans-serif;
}
.title-site {
    background: linear-gradient(120deg,
        var(--coolor3) 0%,
        var(--coolor5) 49%,
        var(--coolor1) 100%
        );
    text-align: center;
    padding: 4em;
}
.title-site > h2 {
    color: white;
    font-weight: 800;
    font-size: 4em;
}
#picture-header {
    border: 1px solid black;
    text-align: center;
    padding: 2em;
    width: 100%;
}
#picture-header > img {
    border: 1px solid black;
    width: 80%;
}
.about-the-site {
    font-weight: 300;
    padding: 3.5em 2em;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    width: 90%;
    margin: 1em auto;
}
.about-the-site > p {
    padding: 1.5em 0;
    font-size: 1.2em;
}
#go-back {
    text-align: center;
    margin: 3em 0;
}
#go-back-button {
    text-decoration: none;
    background-color: var(--coolor2);
    color: var(--coolor3);
    font-size: 1.5em;
    padding: 20px;
}
@media (max-width: 720px) {
    .title-site {
        padding: 2em;
    }
    .title-site > h2 {
        font-size: 3em;
    }
    .about-the-site {
        padding: 2.5em 1.5em;
    }
    .about-the-site > p {
        font-size: 1em;
    }
}
@media (max-width: 480px) {
    #picture-header {
        padding: 1em;
    }
    #picture-header > img {
        width: 300px;
    }
    .about-the-site {
        padding: 1.5em;
    }
    .about-the-site > p {
        padding: 1em 0;
        font-size: 0.8em;
    }
}
