:root {
    --coolor1: #3FBFDA;
    --coolor2: #E55246;
    --coolor3: #11333A;
    --coolor4: #F0F0F0;
}
*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:not(i) {
    font-family: 'Rubik', sans-serif;
}
#main-box {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}
#headerpage {
    font-weight: 500px;
    font-size: 2.5em;
    padding: 2em 2em 1em 2em;
}
.nav-box, body {
    background-color: var(--coolor4);
}
.nav-box {
    width: 30vw;
    
}
i {
    color: var(--coolor2);
}
.nav-link {
    text-decoration: none;
    color: black;
    position: relative;
    left: 1em;
}
.nav-link:hover {
    color: var(--coolor2);
}
#navbar-user {
    display: flex;
    flex-direction: column;
}
#navbar-user > div {
    padding: 1em;
}
.body-box {
    background-color: white;
    /*border: 2px solid black;*/
    padding: 1em;
    width: 65vw;
    height: fit-content;
}
hr {
    width: 90%;
    margin: 20px auto;
}
#address-box {
    background-color: var(--coolor1);
    padding: 1.2em;
    border-radius: 5px;
}
#button-container {
    text-align: right;
    padding: 1.3em 0;
}
#button-container > a {
    padding: 0.5em 1em;
    text-decoration: none;
    color: black;
    font-weight: 300;
    margin: 10px 0;
    width: 15%;
}
#button-container > button {
    border: none;
    padding: .75em 1em;
    text-decoration: none;
    color: black;
    font-weight:390;
    margin: 10px 0;
    width: wrap;
}

#edit, #add {
    background-color: var(--coolor2);
    border-radius: 5px;
}
#edit:hover, #add:hover{
    opacity: 0.8;
}
.address-sub-value {
    font-weight: 300;
    line-height: 1.3;
}
@media (max-width: 750px) {
    .nav-link {
        position: relative;
        left: 0;
    }
}
@media (max-width: 650px) {
    .body-box {
        height: 80vh;
    }
}
@media (max-width: 580px) {
    #headerpage {
        font-weight: 500px;
        font-size: 2em;
        padding: 1em;
    }
    #main-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;
    }
    .nav-box{
        width: 70vw;
    }
    .body-box{
        width: 80%;
    }
    #navbar-user {
        display: flex;
        justify-content: space-around;
    }
    .body-box {
        height: 80vh;
    }
}
