:root {
    --coolor1: #94E9F6;
    --coolor2: #fc8e33;
    --coolor3: #11333A;
    --coolor4: #F0F0F0;
    --coolor5: #91E7BB;
}
html {
    height: 100%;
}
*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:not(i) {
    font-family: 'Rubik', sans-serif;
}
#preview-image {
    width: 50%;
    display: none;
}
body {
        background: linear-gradient(120deg,
        var(--coolor3) 0%,
        var(--coolor5) 49%,
        var(--coolor1) 100%
        );
        height: 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
}
h2 {
    text-align: center;
    margin: 0.5em auto;
    font-size: 2.5em;
    color: white;
}
textarea {
    font-weight: 300;
    font-size: 1em;
    width: 100%;
    resize: vertical;
    border-radius: 5px;
    min-height: 10vh;
    margin: 0.8em 0;
}
p {
    font-weight: 300;
    font-style: italic;
}
.tab {
    margin: 4em auto;
    width: 65%;
    background: white;
    border-radius: 1em;
    padding: 2em;
}
.input-holder {
    width: 65%;
    text-align: center;
    padding: 1.5em 4em 1em 4em;
    border: 1px dotted var(--coolor3);
    background: var(--coolor1);
    border-radius: 15px;
    margin: 1em auto;
}
.input-holder:hover {
    opacity: 0.8;
}
.input-label {
    cursor: pointer;
    font-size: 1.5em;
}
input {
    display: block;
    opacity: 0;
    margin: 0 auto;
}
#filename {
    color: var(--coolor3);
    font-size: 0.8em;
}
#go-back {
    text-decoration: none;
    color: white;
    border: 0;
    background-color: var(--coolor3);
    padding: 1em 2.5em;
    margin-right: 0.5em;
    border-radius: 25px; 
    cursor: pointer;
}
#go-back:hover {
    color: var(--coolor1);
    transition: ease-in-out .3s all;
}
#submit[disabled] {
    opacity: .8;
    pointer-events: none;
}
#submit:hover {
    background: var(--coolor2);
    transition: ease-in-out .3s all;
}
#submit {
    background-color: var(--coolor4);
    border: 0;
    font-size: 1em;
    padding: 1em 3em;
    border-radius: 25px; 
    cursor: pointer;
}
.buttons {
    margin-bottom: 3em;
    text-align: center;
}
@media (max-width: 1000px) {
    .input-label {
        font-size: 1em;
    }
}
@media (max-width: 750px) {
    .input-holder {
        padding: 1em 3em;
    }
}
@media (max-width: 550px) {
    h2 {
        font-size: 2em;
    }
    .input-holder {
        padding: 0.8em 2.2em;
        margin-bottom: 0;
    }
    .input-label {
        font-size: 0.8em;
    }
}
@media (max-width: 450px) {
    h2 {
        font-size: 1.5em;
    }
    h3 {
        font-size: 1em;
    }
    p {
        font-size: 0.6em;
    }
    .input-label {
        font-size: 0.6em;
    }
    .input-holder {
        width: 80%;
        padding: 0.5em 1.5em;
    }
    .buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #go-back {
        width: 45%;
        font-size: 0.8em;
    }
    #submit {
        width: 45%;
        margin-top: 0.5em;
        font-size: 0.8em;
    }
}
